<div class="nav">

</div>

<input><i class="bi bi-search"></i>
<!-- <input name="sl" [(ngModel)]="stafflist" (keyup)="checkStaff()"><i class="bi bi-search"></i> -->

<div class="list_project">
    <table>
        <tr>
          <th class="id"> id </th>
          <th> Name</th>
          <th> Date of birth </th>
          <th> Gender</th>
          <th> Area</th>
        </tr>
        <tr *ngFor="let nv of listStaff">
          <td class="id"> {{nv.id}} </td>
          <td>{{nv.lastName}} {{nv.firstName}} </td>
          <td> {{nv.dateOfBirth}}</td>
          <td><span *ngIf='nv.gender==true'>Nam</span>
              <span *ngIf='nv.gender==false' >Nữ</span>
          </td>
          <td> {{nv.area}}</td>
          <td> <a href="#" (click)="deleteStaff(nv.id)"> Delete </a> </td>
        </tr>
    </table>
</div>




