<div class="nav">

</div>

<input><i class="bi bi-search"></i>
<!-- <input name="pl" [(ngModel)]="projectlist" (keyup)="checkProduct()"><i class="bi bi-search"></i> -->

<!-- <input name="tk" [(ngModel)]="tukhoa" (keyup)="checkTask()"> -->

<div class="list_project">
    <table>
        <tr>
          <th class="id"> id </th>
          <th> Name</th>
          <th> Date Start </th>
          <th> Price</th>
        </tr>
        <tr *ngFor="let da of listProject">
          <td class="id"> {{da.id}} </td>
          <td> {{da.nameProject}}</td>
          <td> {{da.dateStart|date:'dd/MM/yyyy'}}</td>
          <td> {{da.price.toLocaleString('vi-VN', {style: 'currency', currency: 'VND'}) }}</td>
          <td> <a href="#" (click)="deleteProject(da.id)"> Delete </a> </td>
          <!-- <td> <a href="#" routerLink="/project/edit/{{da.id}}">Edit</a></td> -->
        </tr> 
    </table>
</div>



