<div class="form_content">
    <form #frm="ngForm" action="">
        <div class="group_form">
            <label for="">Name</label>
            <input ngModel name="nameProject" type="text" >
        </div>
        <div class="group_form">
            <label for="">Date Start</label>
            <input ngModel name="dateStart" type="date" >
        </div>
        <div class="group_form">
            <label for="">Price</label>
            <input ngModel name="price" type="number">
        </div>
        <div class="group_form">
            <label for="">Leader</label>
            <select ngModel name="leader" >
                <option *ngFor = "let nv of listStaff" value="{{nv.id}}">
                    {{nv.firstName}} {{nv.lastName}} 
                </option>
            </select>
        </div>
        <div class="group_form">
            <label for="">Member</label>
            <select name="member" ngModel multiple size="5">
                <option *ngFor = "let nv of listStaff" value="{{nv.id}}">
                    {{nv.firstName}} {{nv.lastName}} 
                </option>
            </select>
        </div>
        <div class="group_form">
            <button (click)="addProject(frm.value)">hihi</button>
        </div>
        
    </form>
</div>
