<div class="form_content">
    <form action="">
        <div class="group_form">
            <label for="">Id</label>
            <input type="text">
        </div>
        <div class="group_form">
            <label for="">Name</label>
            <input type="text" >
        </div>
        <div class="group_form">
            <label for="">Date Start</label>
            <input type="text" >
        </div>
        <div class="group_form">
            <label for="">Price</label>
            <input type="number">
        </div>
        <div class="group_form">
            <!-- <button (click)="projectAdd()"></button> -->
        </div>
        
    </form>
</div>
