*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Sulphur Point';
}
html{
    font-size: 62,5%;
    
}
.container{
    width: 100vw;
    height: 100%;
}
.nav{
    width: 100%;
    height: 7%;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
}
.last_container{
    width: 20%;
    height: 100%;
    background-color: rgb(243, 241, 246);
    border-radius: 20px;
    overflow-y: hidden;
}

.infor_user{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infor_user .name{
    font-weight: bold;
    padding: 10px 0 0 0;
}
.infor_user .title{
    color: gray;
    font-size: 0.8rem;
}
.logo h3{
    padding: 2px;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(160, 129, 163);
}
.infor_user_img {
    width: 80px;
    height: 80px;
    
    overflow-y: hidden;
}
.infor_user_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.last_container .menu{
    width: 100%;
    height: 70%;
    margin-left: 10%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    overflow-y: hidden;
}

.menu .table_control{
    width: 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 13px 30px;
    transition: 0.5s;
}
.table_control i{
    padding-right: 14px;
    color: rgb(128, 110, 162);
}
.menu .table_control:hover{
    width: 80%;
    height: 50px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(216, 202, 225);
}
.menu .table_control a{
    font-weight: 600;
    font-family: 'Sulphur Point';
}
.second_container{
    width: 80%;
    height: 100%;
    
}












