.title{
    font-size: 40px;
    padding: 0 20px ;
}
.activities{
    display: flex;
    
}
.activities_content{
    width: 250px;
    height: 150px;
    margin: 0 10px;
    border-radius: 20px;
}
.activities_content p{
    font-size: 35px;
    padding: 0px 30px;
    color: aliceblue;
}
.activities_content .name{
    font-size: 20px;
    padding: 0px 20px;
}


.pink{
    background-color: rgb(238, 172, 183);
}
.purple{
    background-color: rgb(125, 97, 125);
}
.blue{
    background-color: rgb(179, 179, 229);
}