<div class="form_content">
    <form action="">
        <div class="group_form">
            <label for="">Id</label>
            <input type="text">
        </div>
        <div class="group_form">
            <label for="">Name</label>
            <input type="text">
        </div>
        <div class="group_form">
            <label for="">Description</label>
            <input type="text">
        </div>
        <div class="group_form">
            <label for="">Project ID</label>
            <input type="number">
        </div>
        <div class="group_form">
            <label for="">Staff ID</label>
            <input type="number">
        </div>
        <div class="group_form">
            <label for="">Priority</label>
            <input type="number">
        </div>
    </form>
</div>
