<div class="form_content">
    <form #frm="ngForm" action="">
        <div class="group_form">
            <label for="">First Name</label>
            <input ngModel name="firstName" type="text">
        </div>
        <div class="group_form">
            <label for="">Last Name</label>
            <input ngModel name="lastName" type="text">
        </div>
        <div class="group_form">
            <label for="">Date of birth</label>
            <input ngModel name="dateOfBirth" type="date">
        </div>
        <div class="group_form">
            <label for="">Gender</label>
            <select name="gender" ngModel multiple size="2">
                <option *ngFor = "let nv of listStaff" value="{{nv.id}}">
                    <span *ngIf='nv.gender==true'>Nam</span>
                    <span *ngIf='nv.gender==false' >Nữ</span>
                </option>
            </select>
        </div>
        <div class="group_form">
            <label for="">Area</label>
            <select name="area" ngModel multiple size="5">
                <option *ngFor = "let nv of listStaff" value="{{nv.id}}">
                    {{nv.area}} 
                </option>
            </select>
        </div>
        <div class="group_form">
            <button (click)="addStaff(frm.value)">hihi</button>
        </div>
    </form>
</div>
